# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio
.vs/                 # User-specific Visual Studio files
.vscode/             # VS Code settings folder (if used)
.idea/               # JetBrains Rider/IntelliJ IDEA project settings (if used)
.vsidx
# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# User-specific files
*.user
*.userosscache
*.suo
*.userprefs
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Dd]evelopment/
[Dd]ebug-x64/
[Dd]ebug-x86/
[Dd]evelopment-x64/
[Dd]evelopment-x86/
Release/
Release-x64/
Release-x86/
x64/
x86/
x64/Debug/
x86/Debug/
# Windows Installer files
*.cab
*.msi
*.msm
*.msp
# Windows Installer logs
*.log
# Backup files
*.bak
*.swp
# Windows Installer temp files
*.tmp
# Windows Installer files for debug
*.pdb
*.idb
*.suo
# NuGet packages
*.nupkg
# .NET Core
project.lock.json
project.fragment.lock.json
